<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopplus.mapper.ShoppingMapper">

    <select id="selectShoppingById" parameterType="goods" resultType="goods">
        select g.goodsId,g.goodsName,g.price,g.discount,sc.goodsNum
        from goods g,shopcard sc,user u where

        <foreach collection="idList" item="goodsId" open=" g.goodsId in (" close=")" separator=",">
            #{goodsId} and u.userId = sc.userId
        </foreach>

    </select>

    <select id="selectAddressByUser" resultType="address" parameterType="int">
        select a.* from address a ,user u where u.userId = #{userId} and u.userId=a.userId
    </select>

    <update id="updateAddressById" parameterType="address">
        update address set province=#{province},city=#{city},area=#{area},addetail=#{addetail},addressee=#{addressee}
        where addressId=#{addressId}
    </update>

</mapper>